body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* Adjust grid columns as needed */
    align-items: center;
}
nav{
   margin-right: 30px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    header {
        grid-template-columns: 1fr; /* Stack elements on smaller screens */
        text-align: center;
    }
}
header {
    background-color: #0b315a;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
nav{
    padding-top: -190px;
    margin-bottom: 60px;
}
header{
    height: 100px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
.container {
    width: 50%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #0b315a; /* Dark blue heading color */
}
#RegForm {
    display: inline-block;
    text-align: left;
    padding-left: 150px;
}
input, button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: rgb(54, 112, 247); /* Blue button color */
    color: white;
    border: none;
    cursor: pointer;
}

.login-link {
    text-align: center;
    margin-top: 10px;
}

.login-link a {
    color: rgb(54, 112, 247); /* Blue link color */
    text-decoration: none;
}
footer {
    background-color: #333;
    color: white;
    padding: 50px 20px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-form, .sitemap {
    width: 300px;
    padding-bottom: 20px;
}

.contact-form input, .contact-form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #555;
}
#name, #email{
    border-radius: 0px;
}
.submit{
    border-radius: 0px;
    width: 70px;
}
.contact-form button {
    background-color: rgb(54, 112, 247);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.copyright {
    text-align: center;
    padding-top: 10px;
    background-color: black;
    padding-bottom: 5px;
    color: white;
}
.logo{
    width: 170px;
    height: 170px;
}
.company-info{
    padding-bottom: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .contact-form, .sitemap, .company-info {
        width: 90%;
        margin-bottom: 20px;
    }
}
h2{
    font-size: 50px;
}
.icons{
    width: 18px;
    height: 18px;
}
.address{
    display: flex;
}
.info{
    margin-top: -0px;
    margin-left: 10px;
}